body{
	background-color: black;
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
h2{
	font-family: Arial;
	font-size: 20px;
	color: white;
	position: relative;
	left: 80px;
	
}
.loc {
	width: 40px;
	height: 40px;
	position: relative;
	top:5px;
	right: 55px;
}
.top{
	/*border: 2px solid white;*/
	position: relative;
	/*bottom: 200px;*/
	display: flex;
	justify-content: space-around;
}
.header{
	display: flex;
	justify-content: space-between;
	width: 35%;
}
.but{
	position: relative;
	right: -50px;
	top: 10px;
	width: 150px;
	font-size: 15px;
	color: white;
	border-radius: 50px;
	height: 40px;
	
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.img{
	position: relative;
	width: 60%;
	height: 60%;
	display: flex;
	right: 7%;

}
a{
	text-decoration: none;
}
.main {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.block{
	height: 500px;
	width:  0.5px;
	border: 0.01px solid grey;
	background-color: grey;
	position: relative;
	right: 5%;
	margin-top: 8%;
	right: 5%;
	margin-top: 8%;
}

.bl{
	width: 50px;
	height: 50px;
	border: 10px solid #ed4411;
	border-radius: 50px;
	position: relative;
	right: -1%;
	margin-top: 11%;
	z-index: 2;
}

p{
	font-size: 140px;
	color: #9117b0;
}

.fir{
	position: relative;
	right: 110%;

}
.sec{
	position: relative;
	right: 90%;
}
.why{
	display: flex;
	flex-direction: column;
}
.ggg{
	font-style: oblique;
	font-size: 15px;
	color: grey;
	width: 90%;
	position: relative;
	left: 5%;
}
.gg{
	font-style: oblique;
	font-size: 15px;
	color: grey;
	width: 80%;
	/*position: relative;
	left: 10%;*/
	display: flex;
	justify-content: center;
}
.gg1{
	font-style: oblique;
	font-size: 15px;
	color: grey;
	width: 100%;
	position: relative;
	left: 4%;
	display: flex;
	justify-content: center;
}
#window{
  width: 350px;
  height: 530px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
  z-index: 20;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.form{
  width: 275px;
  margin: -15px auto 20px auto;

}
.input{
  width: 260px;
  padding: 5px;
  margin-bottom: 10px;
}
.radio{
  margin-bottom: 10px;
}
.close{
  margin: 10px 0 0 320px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  background: #ccc;
}
.close:hover{
  background: #fff;
}
#gray{
  background-color: rgba(1,1,1,0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;

}
.bb{
	font-style: italic;
	position: relative;
	display: flex;
	justify-content: center;

}
.lg{
	width: 100px;
	height: 100px;
	/*position: relative;
	left: 40%;*/
}
.ss{
	display: flex;
	flex-direction: column;
	
}
.topper{
	height: 130px;
	width: 310px;
	display: flex;
	justify-content: space-around;
position: relative;
right: 18%;
	
}
.with{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.bot{
	height: 130px;
	width: 310px;
	display: flex;
	justify-content: space-around;
	justify-content: center;
	position: relative;
right: 18%;
}
.drops{
	position: relative;
	margin-top: 7%;
	right: 30%;
	display: flex;
	flex-direction: column;
}
.textofcor {

font-size: 30px;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}

.textofcor:hover {
  text-shadow:
    -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
  }
  .textofcor1 {
  position: relative;
  left: 45%;
font-size: 30px;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}

.textofcor1:hover {
  text-shadow:
    -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
  }
    .textofcor2 {
  	  position: relative;
  left: 75%;
font-size: 30px;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}

.textofcor2:hover {
  text-shadow:
    -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
  }
    .textofcor3 {
  position: relative;
  left: 105%;
font-size: 30px;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}

.textofcor3:hover {
  text-shadow:
    -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
  }
    .textofcor4 {
    position: relative;
  left: 135%;
font-size: 30px;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}

.textofcor4:hover {
  text-shadow:
    -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
  }
  .photo{
  	margin-top: 15%;
  	width: 20%;
  	height: 20%;
  	display: flex;
  }
svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.topofwhy{
	display: flex;
	justify-content: center;
	color: grey;
	font-size: 300%;
}
.txt{
	color: grey;
	font-size: 200%;
}
#peepo{
	width: 20%;
	height: 20%;
}
#lines{
	display: flex;
	flex-direction: column;

}
#col{
	width: 40%;
	display: flex;
	justify-content: space-between;
}
#gap{
	width: 100px;
	height: 100px;
}
#sponsors{
	display: flex;
	justify-content: space-between;
}
.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1800px){
	.textofcor {

font-size: 300%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
	.textofcor1 {

font-size: 300%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
	.textofcor2 {

font-size: 300%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
	.textofcor3 {

font-size: 300%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
	.textofcor4 {

font-size: 300%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
#gap{
	width: 160px;
	height: 160px;
}
}
@media screen and (max-width: 1000px){
  .header{
  display: flex;
  flex-direction: column;
margin-left: -45%;
}
.loc{
  margin-left: -9%;
}
.top{
  display: flex;
  justify-content: space-around;
}
  .textofcor {

font-size: 100%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor1 {

font-size: 100%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor2 {

font-size: 100%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor3 {

font-size: 100%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor4 {

font-size: 100%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
.topofwhy{
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 130%;

}
.txt{
  font-size: 100%;
}
svg{
font: 7.5em 'Montserrat';
width: 700px;
}
#gap{
  width: 60px;
  height: 60px;
}
.slide {
    top: 0;
    opacity: 0;
    width: 400px;
    height: 200px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slides {
    padding: 0;
      width: 400px;
    height: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.nav label {
    width: 100px;
    height: 200px;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 200px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
}
@media screen and (max-width: 700px){
svg{
font: 7.5em 'Montserrat';
width: 500px;
}
.slide {
    top: 0;
    opacity: 0;
    width: 300px;
    height: 130px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slides {
    padding: 0;
      width: 300px;
    height: 130px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.nav label {
    width: 70px;
    height: 130px;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 130px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
#gap{
  width: 45px;
  height: 45px;
}
}
@media screen and (max-width: 500px){
  .header{
  display: flex;
  flex-direction: column;
margin-left: -45%;
}
.loc{
  margin-left: -9%;
}
.top{
  display: flex;
  justify-content: space-around;
}
  .textofcor {

font-size: 70%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor1 {

font-size: 70%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor2 {

font-size: 70%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor3 {

font-size: 70%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
  .textofcor4 {

font-size: 70%;
  overflow: hidden;
  text-shadow:
    0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
  color: transparent;
  transition: all 1s;
}
.topofwhy{
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 120%;

}
.txt{
  font-size: 80%;
}
svg{
font: 6.5em 'Montserrat';
width: 400px;
}
#gap{
  width: 40px;
  height: 40px;
}
.slide {
    top: 0;
    opacity: 0;
    width: 200px;
    height: 100px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}
.slides {
    padding: 0;
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.nav label {
    width: 50px;
    height: 100px;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 100px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
}
